In [5]:
import pandas as pd
import numpy as np

a=pd.Series ([1,2,3,4,5,6,7,8,9,10])
a.describe()

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [6]:
a=pd.Series ([5,5,5,5,5])
a.describe()

count    5.0
mean     5.0
std      0.0
min      5.0
25%      5.0
50%      5.0
75%      5.0
max      5.0
dtype: float64

In [7]:
a=pd.Series ([1,2,3,4,5,6])
a.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [ ]:
# WAP to calculate IE and PE

In [63]:
import numpy as np
import pandas as pd
import os.path

In [59]:
tdict={}
tdict[(15,0.050)]=1.753
tdict[(15,0.025)]=2.131
tdict[(16,0.050)]=1.337
tdict[(16,0.025)]=1.746
tdict[(17,0.050)]=1.333
tdict[(17,0.025)]=1.740
tdict[(18,0.050)]=1.330
tdict[(18,0.025)]=1.734
tdict[(19,0.050)]=1.328
tdict[(19,0.025)]=1.729
print (tdict)

{(15, 0.05): 1.753, (15, 0.025): 2.131, (16, 0.05): 1.337, (16, 0.025): 1.746, (17, 0.05): 1.333, (17, 0.025): 1.74, (18, 0.05): 1.33, (18, 0.025): 1.734, (19, 0.05): 1.328, (19, 0.025): 1.729}

In [60]:
zdict={}
zdict[(0.05)]=1.64
zdict[(0.025)]=1.98
print (zdict)

print (zdict[(0.05)])

{0.05: 1.64, 0.025: 1.98}
1.64

In [ ]:
import os.path
csv=eval(input('Enter name of csv file: '))
os.path.exists(csv)

if os.path.exists(csv)==True:
    print ('1')
else:
    print('2')

In [61]:
def estimate_calc(sample_size=0,std_dev=0,mean=0):
    PE=mean
    csv=eval(input('Enter name of csv file: '))
    os.path.exists(csv)
    
    if os.path.exists(csv)==True:
        my_df = pd.read_csv('C:/Users/Smrithi/Documents/Data_science/Learnbay_May/Statistics/Assignment_stats/Book1.csv')
        my_df
        print(type(my_df))
        
        
        
        
        
    
    
    
    if sample_size>=30:
        zalpha= eval(input('Enter alpha (0.05 or 0.025): '))
#         print (zalpha)
        b= (zdict[(zalpha)])
        IE=PE+b*(std_dev/(sample_size**0.5))
#     else:
#         pass
        
    elif (sample_size>0 and sample_size<30):
        talpha= eval(input('Enter alpha with n-1 and df as tuple: '))
        c= (tdict[talpha])
        IE=PE+c*(std_dev/(sample_size**0.5))

    return IE, PE       
# estimate_calc(sample_size=0,std_dev=0,mean=0)        
# return PE,IE

In [62]:
sample_size=eval(input('Enter sample size: '))
std_dev=eval(input('Enter standard deviation: '))
mean=eval(input('Enter mean: '))
# alpha=eval(input('Enter alpha and d: '))

estimate_calc(sample_size,std_dev,mean)

Enter sample size: 3
Enter standard deviation: 1
Enter mean: 5
Enter alpha with n-1 and df as tuple: (15,0.050)

(6.012095021889414, 5)

# New try

In [ ]:
def estimate_calc(sample_size=0,std_dev=0,mean=0):
    PE=mean
    
    if sample_size>=30:
        zalpha= input('Enter alpha (0.05 or 0.025): ')
#         print (zalpha)
        b= (zdict[(zalpha)])
        IE=PE+b*(std_dev/(sample_size**0.5))
#     else:
#         pass
        
    elif (sample_size>0 and sample_size<30):
        talpha= eval(input('Enter alpha with n-1 and df as tuple: '))
        c=tdict[talpha]
        IE=PE+c*(std_dev/(sample_size**0.5))
    return IE, PE       
# estimate_calc(sample_size=0,std_dev=0,mean=0)        
# return PE,IE

In [51]:
talpha= eval(input('Enter alpha with n-1 and df as tuple: '))

print (talpha, type(talpha))

print (tdict[talpha])

Enter alpha with n-1 and df as tuple: (15,0.050)
(15, 0.05) <class 'tuple'>
1.753

In [56]:
zalpha= eval(input('Enter alpha (0.05 or 0.025): '))
print (zalpha)
b= (zdict[zalpha])
print (b)

Enter alpha (0.05 or 0.025): 0.025
0.025
1.98

In [80]:
import os.path
csv=eval(input('Enter name of csv file: '))
os.path.exists(csv)

# if os.path.exists(csv)==True:
#     print ('1')
# else:
#     print('2')
if os.path.exists(csv)==True:
        my_df = pd.read_csv('C:/Users/Smrithi/Documents/Data_science/Learnbay_May/Statistics/Assignment_stats/Book1.csv')
#         print (my_df)
#         print(type(my_df))
        print (my_df['Values'])
        f=my_df.mean(axis='Values')
        print ('Mean is: ',f)

Enter name of csv file: 'Book1.csv'
0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
Name: Values, dtype: int64

ValueError: No axis named Values for object type DataFrame

In [ ]:
# def emp_info(emp_name, emp_id, emp_sal):
#     'The Emoployee name is ', emp_name
#     'The Emoployee ID is ', emp_id
#     'The Emoployee Salary is ', emp_sal
#     return emp_name, emp_id

In [37]:
import os.path
os.path.exists('ANOVA.ipynb')

False

In [38]:
os.path.exists('hey.txt')

True

In [53]:
loc_to_name={}
loc_to_name[(122,-0.928)]='San diego'
loc_to_name[(233,-578)]='San francisco'
loc_to_name[(9088, 8989)]='Greenwich'
print (loc_to_name)

{(122, -0.928): 'San diego', (233, -578): 'San francisco', (9088, 8989): 'Greenwich'}

In [58]:
loc_to_name[(122,-0.928)]

'San diego'

In [66]:
def my_gen():
    emp_name = input('Enter your Name: ')
    emp_id = input('Enter your ID: ')
    emp_sal = input('Enter your Salary: ')
    emp_city = input('Enter your current city: ')
    emp_state = input('Enter your current state: ')
    yield emp_name
    yield emp_id
    yield emp_sal
    yield emp_city
    yield emp_state

In [68]:
list(my_gen())

Enter your Name: fi
Enter your ID: 40
Enter your Salary: 30
Enter your current city: gi
Enter your current state: io

['fi', '40', '30', 'gi', 'io']